<div class="contact-card">
    <div class="name">
        <p>Paco Johns</p>
    </div>
    <div class="bottomm-line"></div>
    <div class="relation">
        <p>Estilista</p>
    </div>
    <div class="phone">
        <p>600-600-600</p>
    </div>
    <div class="options">
        <div class="delete-btn"></div>
        <div class="edit-btn"></div>
    </div>
</div>
