<div class="error-box">
    <% errors.forEach(error => { %>
    <div class="error-msg">
        <i class="fa fa-times-circle error-btn"></i>
        <p><%= error %></p>
    </div>
    <% }) %>
</div>
