<div class="succes-box">
    <% success.forEach(success => { %>
    <div class="success-msg">
        <i class="fa fa-times-circle success-btn"></i>
        <p><%= success %></p>
    </div>
    <% }) %>
</div>
