<div class="succes-box">
  <% success.forEach(success => { %>
  <div class="success-msg">
    <div class="icon-box">
      <i class="fa fa-times-circle success-btn"></i>
    </div>
    <div class="text-box">
      <p><%= success %></p>
    </div>
  </div>
  <% }) %>
</div>
