<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include ("components/links/loader-links") %>
        <link rel="stylesheet" href="css/log.css">
        <title>Log options</title>
    </head>
    <body>
        <%- include ("components/parts/loader") %>
        <div class="main-page">
            <div class="main-box">
                <h3>Please select your Log option</h3>
                <div class="btns-box">
                    <a href="/login" class="outer-div">
                        <div class="log-box">
                            <div class="log-text-box">
                                <h2>Login</h2>
                            </div>
                        </div>
                    </a>
                    <a href="/register" class="outer-div">
                        <div class="reg-box">
                            <div class="log-text-box">
                                <h2>Register</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <a href="/home" class="go-home">
                    <i class="fas fa-home"></i>
                    <p>Go home</p>
                </a>
            </div>
    </body>
</html>
