<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include("components/links/loader-links") %><%-
        include("components/links/contacts-options-links") %>
        <title>Contacts Options</title>
    </head>
    <body>
        <%- include("components/parts/loader") %>

        <section class="main-page">
            <div class="main-box">
                <h3>What you want to do?</h3>
                <div class="btns-box">
                    <a href="contacts/create" class="outer-div">
                        <div class="log-box">
                            <div class="log-text-box">
                                <h2>Create</h2>
                            </div>
                        </div>
                    </a>
                    <a href="/contacts/view" class="outer-div">
                        <div class="reg-box">
                            <div class="log-text-box">
                                <h2>View</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <a href="/home" class="go-home">
                    <i class="fas fa-home"></i>
                    <p>Go home</p>
                </a>
            </div>
        </section>
    </body>
</html>
