* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
}
body {
    width: 100%;
    height: 100%;
    font-family: "Quicksand", sans-serif;
}
.agenda {
    width: 100%;
    height: 150vh;
    background-image: url(../images/fondo-index.jpg);
    background-color: black;
    background-size: cover;
    background-position: center;
    position: relative;
}
