* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
}
body {
    width: 100%;
    height: 100%;
}
.agenda-navbar {
    z-index: 100;
    width: 95%;
    height: 12vh;
    border-radius: 8px;
    background-color: hsla(270, 20%, 10%, 0.884);
    position: fixed;
    top: 0;
    left: 2.5%;
    color: white;
    display: flex;
}
/*//////////Navbar_title////////*/
.navbar-title {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-title h3 {
    font-size: 3em;
    transition: transform 0.3s ease-in-out;
    color: white;
}
.navbar-title h3:hover {
    transform: scale(1.2);
}

/*//////////Navbar_title finish////////*/

/*//////////Burger////////*/

.burger-box {
    width: 15%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger {
    width: 40px;
    height: 45px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.burger span {
    position: absolute;
    height: 8px;
    width: 100%;
    background-color: aqua;
    border-radius: 9px;
    transition: 0.25s ease-in-out all;
}
.burger span:nth-child(1) {
    top: 0;
}
.burger span:nth-child(2) {
    top: 18px;
    left: 0;
}
.burger span:nth-child(3) {
    top: 36px;
}

.burger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 18px;
}
.burger.open span:nth-child(2) {
    transform: rotate(45deg);
    opacity: 0;
}
.burger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 18px;
}
/*/////Burger-fonish/////*/

.navbar-list {
    position: absolute;
    background-color: hsla(270, 20%, 10%, 0.884);
    right: 0;
    top: 12.2vh;
    border-radius: 8px;
    width: 50%;
    height: 87vh;
    transition: all 1.5s ease-in-out;
    transform: translateX(110%);
}
.navbar-list ul {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.6em;
}
.navbar-list ul li a {
    display: inline-block;
    padding: 10% 5%;
    transition: transform 0.3s ease-in-out;
    color: white;
}
.navbar-list ul li a:hover {
    transform: scale(1.4);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.navbar-list-appear {
    transform: translateX(0) !important;
    transition: all 1.5s ease-in-out;
}
.navbar-logo {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-logo img {
    width: auto;
    height: 80%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.navbar-logo img:hover {
    transform: scale(1.2);
}
@media (max-width: 670px) {
    .navbar-logo,
    .burger-box {
        width: 20%;
    }
    .navbar-title h3 {
        font-size: 2.5em;
    }
    .navbar-logo img {
        height: 80%;
        width: auto;
    }
}
@media (max-width: 570px) {
    .navbar-list {
        height: 80vh;
    }
    .navbar-logo,
    .burger-box {
        width: 20%;
    }
    .navbar-title {
        width: 60%;
    }
    .navbar-title h3 {
        font-size: 2em;
    }
    .navbar-logo img {
        height: 70% !important;
        width: auto;
    }
    .burger {
        width: 35px;
        height: 40px;
    }
    .burger span {
        height: 7px;
        width: 100%;
    }
    .burger span:nth-child(1) {
        top: 0;
    }
    .burger span:nth-child(2) {
        top: 13.33px;
        left: 0;
    }
    .burger span:nth-child(3) {
        top: 26.66px;
    }
    .burger.open span:nth-child(1) {
        top: 13.33px;
    }
    .burger.open span:nth-child(3) {
        top: 13.33px;
    }
}
@media (max-width: 450px) {
    .navbar-title {
        width: 52% !important;
    }
    .navbar-title h3 {
        font-size: 1.5em !important;
    }
    .navbar-logo,
    .burger-box {
        width: 24%;
    }
    .burger {
        width: 30px;
        height: 35px;
    }
    .burger span {
        height: 6px;
        width: 100%;
    }
    .burger span:nth-child(1) {
        top: 0;
    }
    .burger span:nth-child(2) {
        top: 12px;
        left: 0;
    }
    .burger span:nth-child(3) {
        top: 24px;
    }
    .burger.open span:nth-child(1) {
        top: 11.66px;
    }
    .burger.open span:nth-child(3) {
        top: 11.66px;
    }
}
